body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    background-image: url('/static/images/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.container {
    background: rgba(255, 255, 255, 0.9);
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(29, 28, 28, 0.1);
    text-align: center;
    width: 90%;
    max-width: 500px;
}

h1 {
    margin-bottom: 20px;
    color: #363232;
}

h2 {
    margin-bottom: 10px;
    color: #53b02e;
}

.description {
    margin-bottom: 20px;
    color: #777;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center; /* Centering the form elements */
}

input[type="file"],
input[type="text"] {
    width: 100%;
    max-width: 100%; /* Ensuring the inputs do not exceed the container width */
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin-bottom: 10px;
    box-sizing: border-box; /* Ensuring padding and border are included in the width */
}

input[type="text"] {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease;
}

input[type="text"]:focus {
    border-color: #53b02e;
    outline: none;
}

button {
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    background-color: #28a745;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%; /* Ensuring the button spans the width of the container */
    max-width: 100%; /* Ensuring the button does not exceed the container width */
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

button:hover:enabled {
    background-color: #218838;
}