<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Search Assistant</title>
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
    <div class="container">
        <h1>Job Search Assistant</h1>
        <h2>Upload your PDF resume</h2>
        <p class="description">Upload a PDF file. I can help you to adjust your resume and match jobs!</p>
        <form id="uploadForm" action="/api/upload" method="post" enctype="multipart/form-data">
            <input type="file" id="pdfFile" name="pdf_file" accept="application/pdf">
            <input type="text" id="jobTitle" name="job_title" placeholder="Enter Job Title">
            <button type="submit" id="reviseButton" disabled>Revise Resume</button>
        </form>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const pdfFileInput = document.getElementById('pdfFile');
            const jobTitleInput = document.getElementById('jobTitle');
            const reviseButton = document.getElementById('reviseButton');

            function checkInputs() {
                if (pdfFileInput.files.length > 0 && jobTitleInput.value.trim() !== '') {
                    reviseButton.disabled = false;
                } else {
                    reviseButton.disabled = true;
                }
            }

            pdfFileInput.addEventListener('change', checkInputs);
            jobTitleInput.addEventListener('input', checkInputs);
        });
    </script>
</body>
</html>